attrs==21.2.0
backports.functools-lru-cache==1.6.4
bottlenose==1.1.8
capybara-py==0.1.6
certifi==2021.10.8
charset-normalizer==2.0.7
colorama==0.4.4
configparser==5.1.0
crayons==0.4.0
cssselect==1.1.0
future==0.18.2
greenlet==1.1.2
idna==3.3
iniconfig==1.1.1
lxml==4.6.4
packaging==21.2
playwright==1.16.1
pluggy==1.0.0
py==1.11.0
pyee==8.2.2
pyparsing==2.4.7
pytest==6.2.5
python-amazon-simple-product-api==2.2.11
python-dateutil==2.8.2
requests==2.26.0
selene==2.0.0a40
selenium==3.141.0
six==1.16.0
splinter==0.16.0
toml==0.10.2
urllib3==1.26.7
webdriver-manager==3.5.0
websockets==10.0
xpath-py==0.1.2
