# browser automation
capybara-py==0.1.6
playwright==1.18.1
selenium==3.141.0
webdriver-manager==3.5.0
# quite old and not compatible with current selenium. Only for legacy comparison
# selene==2.0.0a40
# splinter==0.16.0

# Server
Flask==2.0.2

# Development helpers
pytest==6.2.5
objexplore==1.5.7